/*入场动画开始*/
.fade-enter {
    opacity: 0;
}

/*入场动画过程*/
.fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

/*入场动画结束*/
.fade-enter-done {
    opacity: 1;
}

/*离场动画开始*/
.fade-exit {
    opacity: 1;
}

/*离场动画过程*/
.fade-exit-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}

/*离场动画结束*/
.fade-exit-done {
    opacity: 0;
}

/*页面第一次加载时的开始状态*/
.fade-appear {
    opacity: 0;
}

/*页面第一次加载时的动画过程*/
.fade-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

// fixed-bg
/*入场动画开始*/
.fixed-bg-enter {
    opacity: 0;
}

/*入场动画过程*/
.fixed-bg-enter-active {
    opacity: 1;
    transition: opacity .3s ease-in;
}

/*入场动画结束*/
.fixed-bg-enter-done {
    opacity: 1;
}

/*离场动画开始*/
.fixed-bg-exit {
    opacity: 1;
}

/*离场动画过程*/
.fixed-bg-exit-active {
    opacity: 0;
    transition: opacity .3s ease-out;
}

/*离场动画结束*/
.fixed-bg-exit-done {
    opacity: 0;
}

/*页面第一次加载时的开始状态*/
.fixed-bg-appear {
    opacity: 0;
}

/*页面第一次加载时的动画过程*/
.fixed-bg-appear-active {
    opacity: 1;
    transition: opacity .3s ease-in;
}

// fixed-bg

// nav-bar

/*入场动画开始*/
.nav-bar-enter,
.nav-bar-appear {
    margin-right: -300px;
}

/*入场动画过程*/
.nav-bar-enter-active,
.nav-bar-appear-active {
    margin-right: 0;
    transition: all .8s cubic-bezier(0.7, 0, 0.3, 1);
}

/*入场动画结束*/
.nav-bar-enter-done {
    margin-right: 0;
}

/*离场动画开始*/
.nav-bar-exit {
    margin-right: 0;
}

/*离场动画过程*/
.nav-bar-exit-active {
    margin-right: -300px;
    transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
}

/*离场动画结束*/
.nav-bar-exit-done {
    margin-right: -300px;
}

// nav-bar

// nav-bar-item
.nav-item-enter,
.nav-item-appear {
    opacity: 0;
    margin-top: 400px;
}

.nav-item-enter-active,
.nav-item-appear-active {
    opacity: 1;
    margin-top: 0;
    transition: opacity .4s cubic-bezier(1, 0.3, 0, 0.7), margin-top .8s cubic-bezier(1, 0.3, 0, 0.7);
}

.nav-item-enter-done {
    opacity: 1;
}

.nav-item-exit {
    opacity: 1;
}

.nav-item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.nav-item-exit-done {
    opacity: 0;
}

// nav-bar-item